POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=wall
POSTGRES_PASSWORD=wall
POSTGRES_DB=the_wall_test

DATABASE_URL=postgresql+asyncpg://wall:wall@localhost:5432/the_wall_test
TEST_DATABASE_URL=postgresql+asyncpg://wall:wall@localhost:5432/the_wall_test
DATABASE_ECHO=false

MESSAGE_SERVICE__SERVER__HOST=0.0.0.0
MESSAGE_SERVICE__SERVER__PORT=8002

SEARCH_SERVICE__SERVER__HOST=0.0.0.0
SEARCH_SERVICE__SERVER__PORT=8003
